/* -------- FORM STYLE -------- */

.contact-section {
  max-width: 700px;
  margin: auto;
  padding: 120px 20px;
  text-align: center;
  border: 2px solid #979595;
  padding-bottom: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1.5px solid #d0d0d0;
  font-size: 16px;
  background: #dbd9d9;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.3);
}

/* Submit Button */
.submit-btn {
  padding: 14px;
  background: #6c63ff;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.submit-btn:hover {
  background: #584fe9;
}

.error-text {
  color: #ff4d4d;
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
  padding-left: 5px;
}

/* -------- POPUP STYLE -------- */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup-box {
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation: popup 0.3s ease-out;
}

.popup-box h3 {
  margin-bottom: 10px;
  color: #333;
}

.popup-box p {
  margin-bottom: 20px;
  font-size: 15px;
}

.popup-box button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.popup-box button:hover {
  background: #005fcc;
}

/* Popup Animation */
@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ---- Responsive ---- */
@media (max-width: 480px) {
  .popup-box {
    width: 260px;
    padding: 20px;
  }
}
